<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Edit Ministry Info</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h2>Ministry Info</h2>
  <form method="POST" action="/admin/ministry" enctype="multipart/form-data">
    <label>Logo URL:</label><br>
    <!-- <input type="text" name="logo_url" value="<%= info?.logo_url || '' %>"><br><br> -->
    <input type="file" name="logo"><br><br>
    <% if (info?.logo_url) { %>
        <img src="<%= info.logo_url %>" alt="Ministry Logo" style="max-width: 200px;">
      <% } %><br><br>

    <label>Vision:</label><br>
    <textarea name="vision"><%= info?.vision || '' %></textarea><br><br>

    <label>Mission:</label><br>
    <textarea name="mission"><%= info?.mission || '' %></textarea><br><br>

    <label>History:</label><br>
    <textarea name="history"><%= info?.history || '' %></textarea><br><br>

    <button type="submit">Save</button>
  </form>

  <br>

  
  <a href="/admin/dashboard">Back to Dashboard</a>
</body>
</html>
